*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

#faixa1{
    background-color: #023E84;
    justify-content: center;
    display: flex;
    height: 30px;
}

#faixa1 img{
    padding: 8px 5px 8px 5px;
}

#logo-menu{
    width: 100%;
    height: 300 px;
    display: flex;
    flex-direction: row;
    padding-left: 50 px;
    font-size: 20pt;
    ;
}

#logo{
    width: 30%;
    padding: 5px;
}

#menu{
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
}

#menu ul{
    display: flex;
}

#menu li{
    flex-direction: row;
    padding: 15px;
}

#menu li a{
    color: #023E84;
}

#search-box{
    width: 30%;
    justify-content: right;
    display: flex;
    padding-right: 80px;
    padding-top: 30px;
}

#search-box input{
    border: solid 2;
    border-radius: 5px;
    border-color: #023E84;
    padding-left: 10px;
}

#txtbusca{
    width: 350px;
    height: 30px;
    padding-right: 80px;
}

#line{
    width: 100%;
    height: 2px;
    background-color: #023E84;
}

#banner{
    width: 100%;
    height: 400px;
    background-color: #023E84;
}

#banner img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

#banner-cover{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #023E84;
    top: 113px;
    opacity: 0.6;
}

#txt-banner{
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;

}

#Text-banner{
    flex-direction: row;
    text-align: center;
    font-size: 30pt;
    font-family: Inria Serif;
    padding-top: 45px;
}

#table{
    background-color: #023E84;
    width: auto;
    height: 500px;
}

.container-cards{
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #023E84;

}

.container-card{
    width: 400px;
    height: 600px;
    border: 3px solid #fff;
    border-radius: 15px;
    margin: 50px;
    justify-content: center;
    padding-bottom: 15px;
}

.cards-img img{
    border-radius: 10px 10px 0px 0px;
}

.card-contend h3{
    text-align: center;
    padding: 15px;
}

.card-contend p{
    text-align: center;
}

.card-contend button{
    border-color: #F9BD62;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 63px;
    border-radius: 0px 0px 15px 15px;
    background-color: #F9BD62;
}

.card-contend a{
    text-decoration: none;
}

.text-servics{
    text-align: center;
    background-color: #023E84;
    font-size: 25pt;
    color: #F9BD62;
    padding-top: 15px;
}

.line{
    width: auto;
    height: 20px;
    background-color: #fff;
}

.tax-contend{
    width: auto;
    margin: 30px;
    padding: 50px;
    font-size: 50pt;
    text-align: center;
}

.tax-contend p{
    font-size: 40pt;
}

.tax-img-contend{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 700px;
}

.tax-img{
    width: 700px;
    height: 700px;
}

.tax-img img{
    width: auto;
    height: auto;
    margin-top: 10px;
    padding-left: 100px;
    padding-top: 30px;
}

.text-contend{
    margin-top: 30px;
    padding-left: 50px;
    font-size: 35pt;
    text-align: center;
    justify-content: center;
}

.text-contend p{
    font-size: 25pt;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.line-black{
    width: auto;
    height: 3px;
    margin: 40px;
    background-color: black;
}

.email-newsletter{
    width: auto;
}

#email{
    width: 650px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

#email::-webkit-input-placeholder{
    color: #023E84;
    padding-left: 20px;
    font-size: 15px;
}

footer{
    width: auto;
    height: auto;
    background-color: #023E84;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
}

.firstside{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 70px;
}

.firstside h3{
    font-size: 28pt;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.secondside{
    display: flex;
    width: 50%;
}

.secondsidecontainer{
    width: 100%;
    height: auto;
}

.secondside{
    width: auto;
}

.secondsidetext{
    padding-top: 55px;
    padding-left: 150px;
}

.secondsidetext h3{
    font-size: 28pt;
    color: #fff;
}

.socialmedias{
    display: flex;
}

.socialmediasicons{
    display: flex;
    padding-top: 55px;
    padding-left: 150px;
}

.socialmediasicons img{
    width: 80px;
    height: 80px;
    padding-right: 10px;
}

.footer-contend{
    display: flex;
}

.copyright{
    text-align: center;
}

.copyright h3{
    font-size: 20pt;
    color: #fff;
}

.bttn-input button{
    width: 150px;
    height: 30px;
    background-color: #023E84;
    color: #fff;
    border: #023E84;
    border-radius: 15px;
}